<div id="app">
  <v-app id="inspire">
    <v-layout row>
      <v-flex>
        <v-card>
          <template v-for="(beer, index) in beers">
            <v-layout :key="index" @click="">
              <v-flex xs5>
                <v-img :src="beer.img" height="125px" contain></v-img>
              </v-flex>
              <v-flex xs7>
                <v-card-title primary-title>
                  <div>
                    <div class="headline" v-html="beer.name"></div>
                    <div v-html="beer.tagline"></div>
                  </div>
                </v-card-title>
              </v-flex>
            </v-layout>
          </template>
          <div v-if="beers.length === 0">
            <v-progress-circular indeterminate color="primary" class="bottom" />
          </div>
        </v-card>
      </v-flex>
    </v-layout>
  </v-app>
</div>
